{
    "successText" : ":D",
    "autoHiddenPrefix" : "_",
    "defaultHiddenSteps" : ["either"],
    "pipelines" : [
        {
            "displayName": "Test-Pipeline",
            "cctrayUrl": "http://localhost:8080/cctray/pipeline.xml",
            "hiddenSteps": ["either"],
            "guiUrl": "http://localhost:8080/pipeline"
        }
    ]
}